<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Aplicativo EzJob</mat-card-title>
    <mat-card-subtitle>Levando até você a solução</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://previews.123rf.com/images/vivat191192/vivat1911921508/vivat191192150800150/43826181-hammer-logo-icon.jpg" alt="EzJob">
  <mat-card-content>
    <p>
      LOREM IPSUM DOLOR SIT AMET
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>Cadastrar</button>
    <button mat-button>Solicitar serviço</button>
  </mat-card-actions>
</mat-card>
